<link href="css/post.css" rel="stylesheet" />

<div class="container mb-4">
  <form method="POST" class="" action="/posts">
    <textarea class="form-control mb-2" name="content" id="content" rows="4">
    </textarea>
    <div style="text-align: center">
      <button
        id="post-publish"
        type="submit"
        class="d-inline-block btn btn-primary container"
      >
        Publish
      </button>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <% posts.forEach(function(post) { %>
    <div class="col-12 mb-3">
      <div class="post-content">
        <div class="post-container">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar6.png"
            alt="user"
            class="profile-photo-md pull-left"
          />
          <div class="post-detail">
            <div class="user-info">
              <h5>
                <a
                  href="<%=`users/profile/${post.author.id}`%>"
                  class="profile-link"
                  ><%= post.author.firstName%> <%= post.author.lastName%></a
                >
                <% if (post.author.id != user._id) {%>
                <span class="following">following</span>
                <% } else { %>
                <a
                  href="<%=`posts/delete/${post._id}`%>"
                  class="small text-red delete-post"
                  >delete</a
                >
                <% } %>
              </h5>
            </div>
            <!-- <div class="reaction">
              <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 13</a>
              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
            </div> -->
            <div class="post-text">
              <p><%= post.content%></p>
            </div>
            <div class="post-content"></div>
            <% post.comments.forEach(function(comment) {%>
            <h6><%=comment.author.firstName%> <%= comment.author.lastName%></h6>
            <p class="comment-content"><%=comment.text%></p>
            <% }); %>
          </div>
          <div class="mt-3">
            <div>
              <div class="mb-3 container">
                <form method="POST" action="<%= `/posts/comment/${post._id}`%>">
                  <div class="mb-3 input-group">
                    <textarea
                      class="form-control custom-control"
                      rows="2"
                      style="resize: none"
                      name="text"
                      id="comment"
                    ></textarea>
                    <button
                      id="comment-btn"
                      type="submit"
                      class="input-group-addon btn btn-primary"
                    >
                      Comment
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
