<div class="container">
  <div class="row">
    <% posts.forEach(function(post) { %>
    <div class="col-12 mb-3">
      <div class="post-content">
        <div class="post-container">
          <div class="px-5 pt-5">
            <div class="user-info">
              <h5 class="">
                <a
                  href="<%=`users/profile/${post.author.id}`%>"
                  class="profile-link"
                  ><%= post.author.firstName%> <%= post.author.lastName%></a
                >
                <% if (post.author.id != user._id) {%>
                <span class="following">following</span>
                <% } else { %>
                <a
                  href="<%=`posts/delete/${post._id}`%>"
                  class="small text-red delete-post"
                  >delete</a
                >
                <% } %>
              </h5>
            </div>

            <div class="post-text mb-2">
              <p><%= post.content%></p>
              <% if (typeof post.image != 'undefined' || post.image) {%>
              <img class="post-image" src="<%=`img/posts/${post.image}`%>" />
              <% } %>
            </div>
            <div class="post-content"></div>
            <% post.comments.forEach(function(comment) {%>
            <a class="h6" href="<%=`/users/profile/${comment.author.id}`%>"
              ><%=comment.author.firstName%> <%= comment.author.lastName%></a
            >
            <% if (user._id == post.author.id) { %>
            <a
              href="<%=`posts/comments/delete/${comment._id}`%>"
              class="small text-red delete-post"
              ><i class="fas fa-trash-alt"></i
            ></a>
            <% } %>
            <p class="comment-content"><%=comment.content%></p>
            <% }); %>
          </div>
          <div class="">
            <div>
              <div class="mb-3">
                <form method="POST" action="<%= `/posts/comment/${post._id}`%>">
                  <div class="input-group pl-5 pr-5">
                    <textarea
                      class="form-control custom-control"
                      rows="2"
                      style="resize: none"
                      name="text"
                      id="comment"
                    ></textarea>
                    <button
                      id="comment-btn"
                      type="submit"
                      class="input-group-addon btn btn-primary"
                    >
                      Comment
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
