<form id="profile-form" action="<% if (same) { %>/profile<% } else { %><% if (typeof followed != undefined) { %><% if (followed)  { %>/users/unfollow/<%= user._id %><% } else { %>/users/follow/<%= user._id %>
<% }}} %>" 
        method="POST">

  <div class="container profile-container mt-md-5">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar text-center">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    alt="Maxwell Admin"
                  />
                </div>
                <h6 class="user-name mt-1 text-center">
                  <%= user.firstName %> <%= user.lastName %>
                </h6>
                <h6 class="small user-email text-center"><%= user.email %></h6>
              </div>
              <div class="about">
                <h5>About</h5>
                <textarea placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aliquam totam esse ratione distinctio sint doloribus ducimus voluptatibus. Possimus nulla voluptatum error enim dignissimos optio!" <% if (!same) { %>
                        disabled
                      <% } %> name="about" class="form-control" rows="7" style="resize: none;"><% if (typeof user.about == 'undefined' || user.about.trim() == '') {%><% } else {%><%=user.about%><% } %></textarea>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <!-- <form id="profile-form" action="/profile" method="POST"> -->
          <div class="card h-100">
            <div class="card-body">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2 text-primary">Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="profile-firstName">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="profile-firstName"
                      placeholder="First Name"
                      name="firstName"
                      value="<%= user.firstName %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="profile-lastName">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="profile-lastName"
                      placeholder="Last Name"
                      name="lastName"
                      value="<%= user.lastName %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="eMail">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="eMail"
                      placeholder="Enter email ID"
                      value="<%= user.email%>"
                      name="email"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input
                      placeholder="+XX 1234567890"
                      type="text"
                      class="form-control"
                      id="phone"
                      name="phoneNumber"
                      placeholder="Enter phone number"
                      value="<%= user.phoneNumber %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
              </div>
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mt-3 mb-2 text-primary">Address</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="Street">Street</label>
                    <input
                      type="name"
                      class="form-control"
                      id="Street"
                      placeholder="Enter Street"
                      name="street"
                      value="<%= user.address.street %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="ciTy">City</label>
                    <input
                      type="name"
                      class="form-control"
                      id="ciTy"
                      placeholder="Enter City"
                      name="city"
                      value="<%= user.address.city %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="sTate">State</label>
                    <input
                      type="text"
                      class="form-control"
                      id="sTate"
                      name="state"
                      placeholder="Enter State"
                      value="<%= user.address.state %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="zIp">Zip Code</label>
                    <input
                      type="number"
                      class="form-control"
                      id="zIp"
                      placeholder="Zip Code"
                      name="zip"
                      value="<%= user.address.zipCode %>"
                      <% if (!same) { %>
                        disabled
                      <% } %>
                    />
                  </div>
                </div>
              </div>
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-right">
                      <button
                        id="discard-profile-changes"
                        class="btn btn-secondary"
                        form="discard-changes"
                      >
                        <a href="/"> Go Back </a>
                      </button>
                      <button
                        id="update-profile"
                        type="submit"
                        class="btn btn-primary"
                        form="profile-form"
                      >
                    <% if (same) { %> Update
                    <% } else { if (typeof followed != "undefined" && followed) { %> Unfollow
                      <% } else if (typeof followed != "undefined" && !followed) { %> Follow
                    <% }} %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</form>
